@{
    ViewData["Title"] = "Apagar";
}

<div class="text-center">
    <h3 class="display-4">Deseja apagar contato</h3>
    <br/>
    <a class="btn btn-danger btn-block" role="button" asp-area="Contatos" asp-action="Criar">Cacelar exclusão</a>
    <a class="btn btn-primary btn-block" role="button">Confirmar a exclusão</a>
</div>
<a class="btn btn-secondary btn-block" asp-area="Contatos" asp-action="Criar">Voltar</a>