@{
    ViewData["Title"] = "Editar";
}

<div class="text-center">
    <h1 class="display-4">Editar contatos</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Cadastrar novo contato</h1>
</div>
<div class="mb-3 row">
    <label for="nome">Nome</label>
    <input type="text" placeholder="Digite o nome">
</div>
<div class="mb-3 row">
    <label for="email">Email</label>
    <input type="text" placeholder="Digite o email">
</div>
<div class="mb-3 row">
    <label for="telefone">Telefone</label>
    <input type="text" placeholder="Digite o telefone">
</div>
<div class="col-auto">
    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-area="Contatos" asp-action="Criar">Voltar</a>
</div>